---
import { getCollection, render } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Bio from "../components/Bio.astro";
import Header from "../components/Header.astro";
import { formatDate, slug, slugify } from "../lib/utils";

const sortedPosts = (await getCollection('post')).sort(
	(a, b) =>
		new Date(b.data.pubDate).valueOf() -
		new Date(a.data.pubDate).valueOf()
)

const posts = await Promise.all(sortedPosts.map(async p => {
	const { remarkPluginFrontmatter } = await render(p);
	const { minutesRead, excerpt } = remarkPluginFrontmatter;
	return ({
		...p,
		data: {
			...p.data,
			minutesRead,
			excerpt
		}
	})
}));
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header isOnHomePage={true}/>
		<Bio />
		<main>
			<div class="centered-content">
				{
					posts.map((post) => (						
						<article>
							<header>
								<h2>
									<a href={'/'+slug(post)}>
										{post.data.title}
									</a>
								</h2>
								<time datetime={post.data.pubDate}>
									{formatDate(post.data.pubDate)} •{" "}
									{post.data.minutesRead}
									{post.data.keywords ? (
										<>
											{" "}
											•{" "}
											<em>
												{" "}
												{post.data.keywords.map(k => <a href={`/tags/${slugify(k)}`}>{k}</a>)}
											</em>
										</>
									) : (
										""
									)}
								</time>
							</header>
							<section>
								<p>{post.data.excerpt}&#8230;</p>
							</section>
						</article>
					))
				}
			</div>
		</main>
		<Footer isOnHomePage={true}/>
		<!-- 100% privacy-first analytics -->
		<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	</body>
</html>
